<div class="row">
  <div class="comment-col">
    <%= link_to comment.user.fullname, user_path(comment.user.id), class: "btn post-username" %>
    <%= comment.body %>
  </div>
  <% if comment.user == current_user or post.user == current_user %>
    <div class="comment-col options-comment">
      <% if comment.user == current_user %>
        <%= link_to edit_post_comment_path(post, comment), method: :get, class: "homepage-post-btn" do %>
          <i class="fa-solid fa-pen-to-square"></i>
        <% end %>
      <% end %>
      <%= link_to post_comment_path(post, comment), data: { confirm: "Delete this Comment?" },
                  method: :delete, class: "homepage-post-btn", remote: true do %>
        <i class="fa-solid fa-trash"></i>
      <% end %>
      <%= link_to comment_likes_path(comment), method: :post, remote: true, class: "homepage-post-btn" do %>
        <i class="fa-solid fa-heart"></i>
      <% end %>
    </div>
  <% end %>
  <a class="comment-time">
    <% comment_time = time_ago_in_words(comment.created_at)  %>
    <% if comment_time == 'less than a minute' %>
      <%= 'Just now'%>
    <% else %>
      <%= comment_time %>
    <% end %>
  </a>
  <div id="like-Comment-<%= comment.id.to_s %>" class="likes-comment">
    <%= render "likes/like", parent: comment %>
  </div>
</div>