<div class="row justify-content-md-center profile-wrapper">
  <div class="col-md-4 text-center">
    <%= image_tag @user.avatar_thumbnail, class: "round-image" %>
  </div>
  <div class="col-md-8">
    <div class="row">
      <p class="username"><%= @user.fullname %></p>
      <% if @user == current_user %>
        <%= link_to "Edit profile", edit_user_registration_path, class: "btn edit-profile-btn" %>
        <button class="btn fa-solid fa-gear setting-btn" data-toggle="modal" data-target="#editPageModal"></button>
      <% end %>
      <!--Modal-->
      <div class="modal fade" id="editPageModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="list-group text-center">
              <%= link_to "Change Password", edit_user_registration_path, class: "list-group-item list-group-item-action" %>
              <%= link_to "Log Out", destroy_user_session_path, method: :delete,
                          class: "list-group-item list-group-item-action"%>
              <a href="#" class="list-group-item list-group-item-action" data-dismiss="modal">Cancel</a>
            </div>
          </div>
        </div>
      </div>
      <!--Modal-->

    </div>
    <div class="row">
      <p class="email"><%= @user.email %></p>
    </div>

    <div class="row">
      <p class="bio"><%= @user.bio %></p>
    </div>
  </div>
</div>
