<div class="row justify-content-md-center profile-wrapper">
  <div class="col-md-4 text-center">
    <%= image_tag @user.avatar_thumbnail, class: "round-image" %>
  </div>
  <div class="col-md-8">
    <div class="row">
      <p class="username"><%= @user.fullname %></p>
      <% if @user == current_user %>
        <%= link_to "Edit profile", edit_user_registration_path, class: "btn edit-profile-btn" %>
        <button class="btn fa-solid fa-gear setting-btn" data-toggle="modal" data-target="#editPageModal"></button>
      <% else %>
        <% if current_user.following.include?(@user) %>
          <%= button_to "Unfollow", unfollow_user_path(@user),method: :delete, class: "btn edit-profile-btn" %>
        <% else %>
          <% if current_user.sending.include?(@user) %>
            <%= button_to "Pending Request", remove_request_path(@user),
                          data: { confirm: "Are you sure? You will have to request the user again to follow!" },
                          class: "btn edit-profile-btn" %>
          <% else %>
            <% if @user.is_private? %>
              <%= form_tag request_user_path, method: :post %>
              <%= hidden_field_tag :user_id, current_user.id %>
              <%= hidden_field_tag :following_id, @user.id %>
              <%= submit_tag "Follow", class: "btn edit-profile-btn" %>
            <% else %>
              <%= button_to "Follow", follow_user_path(id: @user.id), class: "btn edit-profile-btn" %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>

      <!--Modal-->
      <div class="modal fade" id="editPageModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="list-group text-center">
              <%= link_to "Change Password", edit_user_registration_path, class: "list-group-item list-group-item-action" %>
              <%= link_to "Log Out", destroy_user_session_path, method: :delete,
                          class: "list-group-item list-group-item-action"%>
              <a href="#" class="list-group-item list-group-item-action" data-dismiss="modal">Cancel</a>
            </div>
          </div>
        </div>
      </div>
      <!--Modal-->

    </div>
    <div class="row">
      <span class="user-info">
        <strong> <%= @user.posts.count %> </strong>
        <%= (@user.posts.count) == 1 ? 'Post' : 'Posts'%>
      </span>
      <span class="user-info">
        <strong> <%= @user.followers.count %> </strong>
        <%= (@user.followers.count) == 1 ? 'Follower' : 'Followers'%>
      </span>
      <span class="user-info">
        <strong> <%= @user.following.count %> </strong>
        <%= 'Following' %>
      </span>
      <br>
      <br>
    </div>

    <div class="row">
      <p class="email"><%= @user.email %></p>
    </div>

    <div class="row">
      <p class="bio"><%= @user.bio %></p>
    </div>
  </div>
</div>


<div class="row">

  <% if @user.is_private? and @user != current_user %>
    <% if current_user.following.include?(@user) %>
      <%= render 'posts/profile-posts' %>
    <% else %>
      <% if current_user.sending.include?(@user) %>
        <div class="private-account-msg text-center">
          <strong><p> Account is private! </p></strong>
          <p> Pending follow request! </p>
        </div>
      <% else %>
        <div class="private-account-msg text-center">
          <strong><p> Account is private! </p></strong>
          <p> Follow the user to see their posts! </p>
        </div>
      <% end %>
    <% end %>
  <% else %>
    <%= render 'posts/profile-posts' %>
  <% end %>

</div>