<!-- Default Navbar -->

<nav class="navbar navbar-expand-lg navbar-light">
  <!-- Logo button -->
  <%= link_to image_tag('logo.png'), root_path, class: "navbar-brand"%>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <!-- Logo button -->

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <!-- Search box -->
    <%#= form_tag search_user_path, method:   class="form-inline my-2 my-lg-0 ml-md-auto">%>
<!--      <input class="form-control mr-sm-2 search-bar" type="search" placeholder="Search" aria-label="Search" aria-describedby="basic-addon1">-->
<!--    </form_tag>-->
    <%= form_tag search_user_path, :method => "post", class: "search-form" do %>
      <%= text_field_tag :search, params[:search] , placeholder: "Search"%>
      <%= submit_tag "Search" %>
    <% end %>
    <!-- Search box -->


    <ul class="navbar-nav mr-auto ml-md-auto">
      <!-- Home page -->
      <li class="nav-item active">
        <%= link_to users_path do %>
          <i class="fa-solid fa-house nav-link active"></i>
        <% end %>
      </li>
      <!-- Home page -->

      <!-- Follow Requests -->
      <li class="nav-item active">
        <%= link_to requests_path do %>
          <i class="fa-solid fa-bell nav-link active"></i>
        <% end %>
      </li>
      <!-- Follow Requests -->

      <!-- Owned Pages -->
      <li class="nav-item active">
        <%= link_to pages_path do %>
          <i class="fa-solid fa-file-lines nav-link active"></i>
        <% end %>
      </li>
      <!-- Owned Pages -->

      <!-- Profile -->
      <li class="nav-item active">
        <%= link_to image_tag(current_user.avatar, class: "navbar-image"), user_path(current_user), class: "nav-link"  %>
      </li>
      <!-- Profile -->

    </ul>
  </div>
</nav>
<!-- Default Navbar -->
